#proflie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_container {
  width: 1200px;
  height: 1000px;
  margin-top: 5em;
  /* background-color: #779fdfc0;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em; */
}
.profile_link {
  text-align: center;
  margin-bottom: 3em;
}
.profile_link i {
  font-size: 4rem;
  color: #3c4048;
  margin-bottom: 0.1em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}
.profile_link span {
  font-size: 1.5rem;
  color: #3c4048;
}
.profile_img {
  display: flex;
}

.profile_img img {
  width: 400px;
  height: 400px;
}

.myproflie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3;
  margin-left: 15em;
  color: #3c4048;
  font-size: 1.2rem;
  font-weight: 700;
  border-top: 10px solid #22e4ebd5;
  border-right: 10px solid #11f5f5d5;
  border-left: 10px solid #fa6ffade;
  border-bottom: 10px solid #f87df8da;

  box-shadow: 0 0 10px rgb(36, 210, 253);
  padding-top: 1em;
  padding-bottom: 1em;
}
.myproflie div {
  margin-left: 2em;
  margin-right: 2em;
}
