/* 아이템 사이즈 */
#projact img {
  width: 100px;
}
#item-1 img,
#item-2 img,
#item-7 img,
#item-9 img {
  width: 350px;
  height: 240px;
}
#item-3 img,
#item-5 img {
  width: 350px;
  height: 470px;
}
#item-4 img {
  width: 350px;
  height: 320px;
}
#item-6 img {
  width: 350px;
  height: 210px;
}
#item-8 img {
  width: 350px;
  height: 380px;
}
/* 아이템 사이즈 */

#projact {
  margin: 0 auto;
}
#item-1 {
  animation: ddd 0.8s ease-in 1;
}
@keyframes ddd {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}
.projact_container {
  margin-top: 5em;
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}
.projact_container .projact_column:nth-child(1) {
  display: flex;
}
.projact_container .projact_column:nth-child(1) .projact_list:nth-child(2) {
  margin-left: 2em;
}
.projact_column {
  margin-left: 1em;
  margin-right: 1em;
}

.projact_item {
  cursor: pointer;
  margin-bottom: 2em;
}
.projact_item img {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.projact_item:hover {
  transform: scale(1.02);
  opacity: 80%;
}

/* 

*/

.item_close {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 2rem;
  cursor: pointer;
}
.item_close:hover {
  color: red;
}
.item_inside {
  opacity: 0;
  width: 93%;
  height: 110%;
  position: absolute;
  background-color: #495057;
  top: 0;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 700;
  top: -100%;
  z-index: -1;
}
.item_inside video {
  outline: none;
}

.item_inside p {
  line-height: 1.5;
  text-align: center;
}
.skil_icon {
  display: flex;
}

.skil_icon img {
  font-weight: 700;
  margin-left: 4em;
  margin-right: 4em;
}
/* 

*/
