/* 아이템 사이즈 */

#item-1 img,
#item-2 img,
#item-7 img,
#item-9 img {
  width: 350px;
  height: 240px;
}
#item-3 img,
#item-5 img {
  width: 350px;
  height: 470px;
}
#item-4 img {
  width: 350px;
  height: 320px;
}
#item-6 img {
  width: 350px;
  height: 210px;
}
#item-8 img {
  width: 350px;
  height: 380px;
}
/* 아이템 사이즈 */

#projact {
  margin: 0 auto;
}

.projact_container {
  margin-top: 5em;
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.projact_container .projact_column:nth-child(1) .projact_list:nth-child(2) {
  margin-left: 2em;
}
.projact_column {
  margin-left: 1em;
  margin-right: 1em;
}

.projact_item {
  cursor: pointer;
  margin-bottom: 2em;
  opacity: 0;
  position: relative;
}
.projact_item img {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* 

*/

.item_close {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 2rem;
  cursor: pointer;
}
.item_close:hover {
  color: red;
}
.item_inside {
  width: 93%;
  height: 70%;
  position: absolute;
  background-color: #74baffe1;

  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 700;
  top: -72%;
  left: 3%;
  z-index: -1;
  opacity: 0;

  transition: all 0.5s ease-in-out;
}
.item_inside video {
  outline: none;
}

.item_inside p {
  line-height: 1.5;
  text-align: center;
}
.item_inside p a {
  color: saddlebrown;
  font-size: 2.5rem;
}
.skil_icon {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.skil_icon img {
  width: 10%;
}

/* 

*/
/* 
프로젝트 키프레임 애니메이션
*/
.leftMoveItem.left {
  animation: left 2s ease-in-out forwards;
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-300px) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}
.rightMoveItem.right {
  animation: right 1.5s ease-in-out forwards;
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(300px) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}
.centerMoveItem.center {
  animation: center 1s ease-in-out forwards;
}
@keyframes center {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
.hoverbackcolor {
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.137);
  border-radius: 20px;
  top: 0;
  position: absolute;

  opacity: 0;
}
.projact_item:hover .hoverbackcolor {
  opacity: 1;

  animation: move 0.1s ease-in-out forwards;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
