#skill {
  margin: 0 auto;
}
.skilContainer {
  width: 1200px;
  height: 800px;
}
.skill_set {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}
.skill_column {
  position: relative;
  width: 450px;
  height: 450px;
  border: 3px solid rgb(100, 237, 255);

  border-radius: 50%;
  margin-left: 4em;
  margin-right: 4em;
}
.item_name {
  position: absolute;
  top: 50px;
  left: 200px;
  transition: 2s all ease;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 3px 15px;
}
